/*--------------------------------------------------------------
# Admin Styles
--------------------------------------------------------------*/
.xe-hidden {
  display: none !important;
}
/*--------------------------------------------------------------
# Menu Items
--------------------------------------------------------------*/
.acf-menu-item-fields {
  width: 390px;
}
.menu-item .acf-menu-item-fields .xe-mega-menu {
  display: none;
}
.menu-item-depth-0 .acf-menu-item-fields .xe-mega-menu {
  display: block;
}
.menu-item .acf-field .acf-label {
  margin: 2px 0 0;
} 
.menu-item .acf-field .acf-label label {
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  color: #666;
}
/*--------------------------------------------------------------
# WPBakery Builder
--------------------------------------------------------------*/
span.vc_admin_label {
  display: block !important;
  margin: 5px 0;
  margin-left: 42px;
  font-style: normal;
  letter-spacing: 0.4px;
}
.vc_admin_label label {
  font-weight: 600;
  letter-spacing: 0.8px;
}
.vc_col-sm-2 span.vc_admin_label,
.wpb_vc_column_text span.vc_admin_label {
  margin-left: 0;
}