/*=======================================================
    Mega Menu
=======================================================*/
nav.bootsnav .nav,
nav.bootsnav .collapse,
nav.bootsnav .dropup,
nav.bootsnav .dropdown.megamenu-fw {
    position: static !important;
}

nav.bootsnav .container,
nav.bootsnav .container-fluid {
    position: relative;
}

nav.bootsnav .dropdown-menu {
    left: auto;
}

nav.bootsnav .dropdown.megamenu-fw .dropdown-menu {
    left: 0;
    right: 0;
}

@media (min-width: 993px) {
    nav.bootsnav .megamenu-content {
        padding: 20px 30px;
    }
}

/*=======================================================
    Navbar
=======================================================*/
nav.navbar.bootsnav {
    margin-bottom: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: #fff;
    border: none;
    z-index: 9;
}

nav.navbar.bootsnav ul.nav > li > a {
    background-color: transparent;
    outline: none;
    margin-bottom: -2px;
}

nav.navbar.bootsnav ul.nav li.megamenu-fw > a:hover,
nav.navbar.bootsnav ul.nav li.megamenu-fw > a:focus,
nav.navbar.bootsnav ul.nav li.active > a:hover,
nav.navbar.bootsnav ul.nav li.active > a:focus,
nav.navbar.bootsnav ul.nav li.active > a {
    background-color: transparent;
}

nav.navbar.bootsnav .navbar-toggle {
    border: none;
    padding: 0;
    font-size: 18px;
    position: relative;
    top: 5px;
}

nav.navbar.bootsnav ul.nav .dropdown-menu .dropdown-menu {
    top: 0;
    left: 100%;
}

nav.navbar.bootsnav ul.nav ul.dropdown-menu > li > a {
    white-space: normal;
}

/*=======================================================
    Navbar Responsive
=======================================================*/
@media (min-width:1024px) {

    nav.navbar.bootsnav ul.nav .dropdown-menu .dropdown-menu {
        margin-top: -2px;
    }

    nav.navbar.bootsnav ul.nav > li > a {
    }

    nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after {
        font-family: 'FontAwesome';
        content: "\f0d7";
        margin-left: 5px;
        margin-top: 2px;
    }

    nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
        -moz-box-shadow: 0px 0px 0px;
        -webkit-box-shadow: 0px 0px 0px;
        -o-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        padding: 0;
    }

    nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li a:hover,
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li a:hover {
    }

    nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a {
    }

    nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li:last-child > a {
        border-bottom: none;
    }

    nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a {
        text-align: left;
    }

    nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before,
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before {
        font-family: 'FontAwesome';
        float: right;
        content: "\f105";
        margin-top: 0;
    }

    nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.icon-none:before,
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu li.dropdown > a.icon-none:before {
        content: none !important;
    }

    nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu {
        top: 1.5px;
    }

}

/*=======================================================
    Navbar Responsive
=======================================================*/
@media (max-width:992px) {

    nav.navbar.bootsnav .navbar-brand {
        display: inline-block;
        float: none !important;
        margin: 0 !important;
    }

    nav.navbar.bootsnav .navbar-header {
        float: none;
        display: block;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    nav.navbar.bootsnav .navbar-toggle {
        display: inline-block;
        float: left;
        margin-right: -200px;
        margin-top: 10px;
    }

    nav.navbar.bootsnav .navbar-collapse {
        border: none;
        margin-bottom: 0;
    }

    nav.navbar.bootsnav.no-full .navbar-collapse {
        max-height: 350px;
        overflow-y: auto !important;
    }

    nav.navbar.bootsnav .navbar-collapse.collapse {
        display: none !important;
    }

    nav.navbar.bootsnav .navbar-collapse.collapse.in {
        display: block !important;
    }

    nav.navbar.bootsnav .navbar-nav {
        float: none !important;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0px -15px;
    }

    nav.navbar.bootsnav .navbar-nav > li {
        float: none;
    }

    nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before {
        font-family: 'FontAwesome';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }

    nav.navbar.bootsnav li.dropdown.on > a.dropdown-toggle:before {
        content: "\f107";
    }

    nav.navbar.bootsnav .navbar-nav > li > a {
        display: block;
        width: 100%;
        padding: 10px 0;
        margin-bottom: -1px;
    }

    nav.navbar.bootsnav .navbar-nav > li:first-child > a {
        border-top: none;
    }

    nav.navbar.bootsnav ul.navbar-nav.navbar-left > li:last-child > ul.dropdown-menu {
    }

    nav.navbar.bootsnav ul.nav li.dropdown li a.dropdown-toggle {
        float: none !important;
        position: relative;
        display: block;
        width: 100%;
    }

    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu {
        width: 100%;
        position: relative !important;
        background-color: transparent;
        float: none;
        border: none;
        padding: 0 0 0 15px !important;
        margin: 0 0 -1px 0 !important;
        -moz-box-shadow: 0px 0px 0px;
        -webkit-box-shadow: 0px 0px 0px;
        -o-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;
        -moz-border-radius: 0px 0px 0px;
        -webkit-border-radius: 0px 0px 0px;
        -o-border-radius: 0px 0px 0px;
        border-radius: 0px 0px 0px;
    }

    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu  > li > a {
        display: block;
        width: 100%;
        padding: 10px 0;
    }

    nav.navbar.bootsnav ul.nav ul.dropdown-menu li a:hover,
    nav.navbar.bootsnav ul.nav ul.dropdown-menu li a:focus {
        background-color: transparent;
    }

    nav.navbar.bootsnav ul.nav ul.dropdown-menu ul.dropdown-menu {
        float: none !important;
        left: 0;
        padding: 0 0 0 15px;
        position: relative;
        background: transparent;
        width: 100%;
    }

    nav.navbar.bootsnav ul.nav ul.dropdown-menu li.dropdown.on > ul.dropdown-menu {
        display: inline-block;
        margin-top: -10px;
    }

    nav.navbar.bootsnav li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:after {
        display: none;
    }

}

/*=======================================================
    Navbar Responsive
=======================================================*/
@media (max-width:767px) {
    
    nav.navbar.bootsnav .navbar-header {
        padding-left: 15px;
        padding-right: 15px;
    }

    nav.navbar.bootsnav .navbar-nav {
        padding-left: 15px;
        padding-right: 15px;
    }

}