/*=======================================================
    WOOCOMMERCE
========================================================*/
.woocommerce img, 
.woocommerce-page img {
    max-width: 100%;
    height: auto;
}
.woocommerce-checkout #payment ul.payment_methods li {
    list-style: none;
}
.woocommerce span.onsale {
	font-size: 12px;
	padding: 2px 5.8px;
  top: -1em;
  left: -1em;
}
.woocommerce ins {
	text-decoration: none;
}
.select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 0;
}
/*=======================================================
    LOGIN / REGISTER
========================================================*/
.woocommerce form.login, .woocommerce form.register {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 0;
}
.woocommerce .woocommerce-form-login input.button, 
.woocommerce .register input.button {
  padding: 12px 30px;
  margin-right: 5px;
}
.woocommerce-LostPassword {
  padding-left: 3px;
  margin-bottom: 6px;
}
/*=======================================================
    MY ACCOUNT
========================================================*/
.woocommerce-account .woocommerce-MyAccount-navigation {
  border: 1px solid #e7e7e7;
  margin-bottom: 30px
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul {
  margin-bottom: 0;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li {
  list-style-type: none;
  line-height: 40px;
  margin-left: 0;
  padding-left: 35px;
  border-bottom: 1px solid #e7e7e7;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li:last-child {
  border-bottom: none;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li:before {
  display: block;
  float: left;
  margin-left: -24px;
  font-family: 'fontawesome';
  font-size: 14px;
  color: #ccc;
}
li.woocommerce-MyAccount-navigation-link--dashboard:before { 
  content: "\f0e4"; 
}
li.woocommerce-MyAccount-navigation-link--orders:before { 
  content: "\f07a"; 
}
li.woocommerce-MyAccount-navigation-link--downloads:before { 
  content: "\f0ed"; 
}
li.woocommerce-MyAccount-navigation-link--edit-address:before { 
  content: "\f2ba"; 
}
li.woocommerce-MyAccount-navigation-link--edit-account:before { 
  content: "\f2be"; 
}
li.woocommerce-MyAccount-navigation-link--customer-logout:before { 
  content: "\f08b"; 
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.is-active:after {
  display: block;
  float: right;
  margin-right: 10px;
  font-family: 'fontawesome';
  font-size: 14px;
  color: #ccc;
  content: "\f105";
}
.woocommerce-MyAccount-content h3 {
  margin-top: 0;
}
.woocommerce-MyAccount-content fieldset {
  margin-top: 30px;
}
.woocommerce-MyAccount-content legend {
  font-size: 18px;
  text-transform: capitalize;
  margin-left: 2.5px;
}
.woocommerce .woocommerce-MyAccount-content input.button,
.woocommerce .woocommerce-address-fields input.button {
  margin-top: 10px;
  margin-left: 2.5px;
  padding: 11px 20px;
}
/*=======================================================
    WIDGETS
========================================================*/
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background-color: #eee;
}
.woocommerce ul.cart_list li, 
.woocommerce ul.product_list_widget li {
  margin-bottom: 9px;
}
.woocommerce ul.cart_list li:last-child, 
.woocommerce ul.product_list_widget li:last-child {
  margin-bottom: 0;
}
/*=======================================================
    VC SHORTCODES
========================================================*/
@media (min-width: 992px) {
  .woocommerce.columns-2 div[class^="col-md-"] {
    width: 50%;
  }
  .woocommerce.columns-3 div[class^="col-md-"] {
    width: 33.33333333%;
  }
  .woocommerce.columns-4 div[class^="col-md-"] {
    width: 25%;
  }
  .woocommerce.columns-5 div[class^="col-md-"] {
    width: 20%;
  }
  .woocommerce.columns-6 div[class^="col-md-"] {
    width: 16.66666667%;
  }
}
/*=======================================================
    CART
========================================================*/
.woocommerce table.shop_table {
  border-radius: 0;
}
.woocommerce #content table.cart td.actions .input-text, 
.woocommerce table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page table.cart td.actions .input-text {
  width: 180px;
  text-transform: capitalize;
}
#add_payment_method table.cart td.actions .coupon .input-text, 
.woocommerce-cart table.cart td.actions .coupon .input-text, 
.woocommerce-checkout table.cart td.actions .coupon .input-text {
  padding: 6px;
}
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
  text-transform: uppercase;
}
.woocommerce .cart .button, 
.woocommerce .cart input.button {
  padding: 8px 10px;
}
.cart_totals h2 {
  font-size: 18px;
  text-transform: uppercase;
}
#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
  padding: 15px;
  font-size: 14px;
}
/*=======================================================
    CHECKOUT
========================================================*/
.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea,
.woocommerce form .select2-container--default .select2-selection--single {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 0;
  box-shadow: none;
  padding: 3px 12px;
  transition: all 0.4s ease-in-out;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .select2-container--default .select2-selection--single {
  height: 35px;
}
.woocommerce form .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
}
.woocommerce form .select2-container--default .select2-selection--single .select2-selection__arrow b {
  left: 25%;
  top: 64%;
}
.woocommerce-page form .form-row textarea {
  min-height: 100px;
  padding: 10px 12px;
}
.woocommerce-checkout .select2-dropdown,
.woocommerce-checkout input[type=search] {
  border: 1px solid rgba(0,0,0,.1);
}
.woocommerce form .form-row .input-checkbox {
  position: relative;
}
#add_payment_method #payment, 
.woocommerce-cart #payment, 
.woocommerce-checkout #payment {
  border-radius: 0;
}
#add_payment_method #payment ul.payment_methods li img, 
.woocommerce-cart #payment ul.payment_methods li img, 
.woocommerce-checkout #payment ul.payment_methods li img {
  margin: -4px .5em 0 .5em;
}
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
  padding: 10px 12px 9px;
  transition: all 0.4s ease-in-out;
}
/*=======================================================
    SINGLE PRODUCT
========================================================*/
.woocommerce .woocommerce-breadcrumb {
  margin-bottom: 1.5em;
}
.woocommerce-product-gallery__image {
  padding-right: 10px;
  margin-bottom: 10px;
}
.woocommerce #content div.product div.summary, 
.woocommerce div.product div.summary, 
.woocommerce-page #content div.product div.summary, 
.woocommerce-page div.product div.summary {
  width: 50.5%;
}
.woocommerce .quantity .qty {
  width: 100px;
  min-height: 31px;
  text-align: left;
  padding: 0px 5px 0 8px;
  border: 1px solid #e7e7e7;
}
.woocommerce div.product form.cart {
  margin-top: 1.5em;
}
.woocommerce div.product form.cart .group_table td.label,
.woocommerce div.product form.cart .group_table td.price {
  padding: 0 20px;
  line-height: 44px;
}
.woocommerce div.product form.cart .button {
  padding: 9px 15px 8px;
}
.woocommerce div.product-type-grouped form.cart .button {
  margin-top: 10px;
}
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
  border-radius: 0;
}
.product_meta .sku_wrapper,
.product_meta .posted_in,
.product_meta .tagged_as {
  display: block;
  text-transform: uppercase;
  padding: 7px 0;
  font-weight: bold;
  border-top: 1px solid #e7e7e7;
}
.product_meta .tagged_as {
  margin-top: -6px;
}
.product_meta .sku_wrapper span,
.product_meta .posted_in a,
.product_meta .tagged_as a {
  font-weight: normal;
}
.product_meta .posted_in a,
.product_meta .tagged_as a {
  display: inline-block;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 50px;
  line-height: 23px;
  padding: 0 10px;
  text-transform: uppercase;
  color: #777;
  font-size: 10px;
  margin: 0 5px 6px 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  margin: 0 2px;
  padding: 7px 25px;
  border: 1px solid #e7e7e7;
  border-radius: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  font-size: 14px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  border-bottom: 1px solid #e7e7e7;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  left: 0;
  border-bottom-right-radius: 0;
  border-width: 0;
  box-shadow: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
  position: relative;
  border: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
  margin: 0;
}
.woocommerce div.product .woocommerce-tabs .panel {
  padding: 29px;
  border: 1px solid #e7e7e7;
  border-top: none;
  border-radius: 0;
  box-shadow: none;
}
.woocommerce div.product .woocommerce-tabs .panel h2 {
  display: none;
  margin-top: 0;
}
.woocommerce div.product .woocommerce-tabs .panel p {
  margin-bottom: 0;
}
.upsells.products h2,
.related.products h2 {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 25px;
}
.woocommerce-Reviews .comment-form label {
  margin-top: 0;
}
.woocommerce #review_form #respond .form-submit input {
  margin-top: 15px;
}
@media (min-width: 768px) {
  .woocommerce-Reviews .comment-form-rating {
    padding-left: 15px;
  }
  .woocommerce-Reviews .comment-form-email,
  .woocommerce-Reviews .comment-form-author {
    width: 50%;
  }
}
/*=======================================================
    ARCHIVE
========================================================*/