/*
 Theme Name: _xe Child
 Theme URI: http://demos.xecreators.pk/
 Description: This is just another WordPress framework + build process. It is built for developers to create awesome and highly customizable themes for clients or sell it on marketplace.
 Author: Muhammad Zohaib - XeCreators
 Author URI: https://www.xecreators.pk/
 Template: _xe
 Version: 1.0.0
 Text Domain: _xe-child
 Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, grid-layout, custom-background, custom-header, custom-menu, custom-logo, custom-colors, featured-images, footer-widgets, full-width-template, sticky-post, theme-options, translation-ready, blog, portfolio
*/
