/*--------------------------------------------------------------
# Blog and Page
--------------------------------------------------------------*/
.blog .entry-content ul,
.blog .entry-content ol,
.single-post .entry-content ul,
.single-post .entry-content ol,
.page .page-content .entry-content ul,
.page .page-content .entry-content ol {
  padding-left: 0;
}
.blog .entry-content ul li,
.single-post .entry-content ul li,
.page .page-content .entry-content ul li {
  list-style: square;
  margin: 3px 0 3px 17px;
}
.blog .entry-content ol li,
.single-post .entry-content ol li,
.page .page-content .entry-content ol li {
  list-style: decimal;
  margin: 3px 0 3px 17px;
}
.blog .entry-content img,
.single-post .entry-content img,
.page .page-content .entry-content img {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.blog .entry-content .wp-caption img,
.single-post .entry-content .wp-caption img,
.page .page-content .entry-content .wp-caption img {
  margin-top: 30px;
  margin-bottom: 0;
}
.blog .entry-content .gallery img,
.single-post .entry-content .gallery img,
.page .page-content .entry-content .gallery img {
  margin-top: 0;
  margin-bottom: 0;
}
.single-post .entry-footer {
  margin-top: 15px;
}
.single-post .entry-footer span {
  display: block;
}
.single-post .entry-footer span a {
  padding: 0px 2px 2px 6px;
}
.single-post .entry-footer a:before {
  font-family: 'Font Awesome 5 Free';
  color: variable var(--primary-color);
  padding-right: 3px;
  font-weight: 600;
}
.single-post .entry-footer .cat-links a:before {
  /*content: "\f02e ";*/
}
.single-post .entry-footer .tags-links a:before {
  content: "\f292 ";
  font-size: 11px;
}
/*--------------------------------------------------------------
# Featured Image/Video/Gallery
--------------------------------------------------------------*/
.featured-gallery,
.search .img-featured,
.blog .img-featured,
.single-post .img-featured,
.page .img-featured { 
  background: #b2b2b2 url(../img/img-featured.svg) repeat;
}
.featured-gallery img,
.search .img-featured img,
.blog .img-featured img,
.single-post .img-featured img,
.page .img-featured img,
.page .page-content .img-featured img {
  display: block;
  margin: 0 auto;
}
.featured-video {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}
.featured-video iframe, 
.featured-video object, 
.featured-video embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
/*--------------------------------------------------------------
# Sticky Post
--------------------------------------------------------------*/
.sticky-post {
  color: var(--primary-color);
  position: absolute;
  top: 10px;
  right: 13px;
  transform: rotate(45deg);
}
/*--------------------------------------------------------------
# Caption
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 30px;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}
.wp-caption-text {
  text-align: center;
}
.wp-caption .wp-caption-text {
  padding: 0.8075em 1em;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  background: #e5e5e5;
  background: hsl(0, 0%, 90%);
}
/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.wp-caption .wp-caption-text ,
.gallery-caption {
  font-size: 14px;
  font-size: 1.4rem;
  background: #e5e5e5;
  background: hsl(0, 0%, 90%);
}
.site-main .gallery-item {
  position: relative;    
  overflow: hidden;
}
.gallery-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 50%;
  padding: 0.5em;
  margin: 0 0.6em 0.6em;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: hsla(0, 0%, 0%, .8);
  opacity: 0;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.gallery-item:hover .gallery-caption { 
  opacity: 1; 
}
.gallery {
  margin-left: -0.5em;
  margin-right: -0.5em;
}
.gallery:after {
  display: table;
  content: "";
  clear: both;
}
.gallery-item {
  margin: 0;
  float: left;
  padding: 0.5em;
}
.gallery-item img {
  width: 100%;
}
.gallery-columns-1 .gallery-item {
  width: 100%;
  float: none;
}
.gallery-columns-2 .gallery-item {
  width: 50%
}
.gallery-columns-3 .gallery-item {
  width: 33.3333%
}
.gallery-columns-4 .gallery-item {
  width: 25%
}
.gallery-columns-5 .gallery-item {
  width: 20%
}
.gallery-columns-6 .gallery-item {
  width: 16.6667%
}
.gallery-columns-7 .gallery-item {
  width: 14.2857%
}
.gallery-columns-8 .gallery-item {
  width: 12.5%
}
.gallery-columns-9 .gallery-item {
  width: 11.1111%
}
.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
  clear: left;
}
/*--------------------------------------------------------------
# Author
--------------------------------------------------------------*/
.author-info {
  padding: 25px;
  border: 1px solid #e7e7e7;
  background-color: #f5f5f5;
  margin-top: 30px;
  margin-bottom: 40px;
}
.author-info ul {
  padding-left: 15px;
  margin-bottom: 0;
}
.author-info ul li {
  display: inline-block;
  list-style: none;
}
.author-info p {
  color: #777;
}
.author-info h6 {
  margin-bottom: 20px;
  color: #222;
}
.author-info img {
  border-radius: 50%;
}
/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.page-numbers {
  text-align: center;
}
.paging-navigation ul {
  padding-left: 0px;
}
.paging-navigation ul li {
  display: inline-block;
}
.paging-navigation ul li a,
.paging-navigation ul li a:visited,
.paging-navigation ul li span.current,
.paging-navigation ul li span.dots {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin: 0;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: content-box;
  font-size: 16px;
  color: #404040;
  background-color: #f3f3f3;
  transition: color 0.4s ease-out, background-color 0.4s ease-out;
}
.paging-navigation ul li a:hover,
.paging-navigation ul li a:active,
.paging-navigation ul li span.current {
  color: white;
  background-color: var(--primary-color);
}
.page .page-content .entry-content .paging-navigation ul li {
  margin: 0;
}