/*--------------------------------------------------------------
# Contact Form 7
--------------------------------------------------------------*/
.wpcf7 .wpcf7-form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.wpcf7 input.wpcf7-form-control {
  height: 34px;
} 
.wpcf7 textarea.wpcf7-form-control {
  height: auto;
} 
.wpcf7 input[type="submit"] {
  width: auto;
  height: auto;
  letter-spacing: 1px;
  margin-top: 10px;
  color: #fff;
  background: var(--primary-color);
}
.wpcf7 input[type="submit"]:hover {
  border-color: var(--primary-dark);
  background-color: var(--primary-dark);
}
span.wpcf7-not-valid-tip {
  color: #dc3545;
  padding-left: 2px;
  font-size: 12px;
  font-weight: normal;
  display: block;
}
div.wpcf7-validation-errors {
  background: #f7e700;
}
div.wpcf7-response-output {
  font-size: 13px;
  margin: 0 0 30px;
  padding: 5px 10px;
}
.wpcf7 form .wpcf7-response-output {
  margin: 0;
}
/*--------------------------------------------------------------
# Post Password Protected Form
--------------------------------------------------------------*/
.post-password-form label {
  display: block;
}
.post-password-form input[type=password] {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #e8e8e8;
}
.post-password-form input[type=submit] {
  display: block;
  margin: 0;
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  outline: none;
}
textarea {
  width: 100%;
}
/* Submit and Buttons */
.woocommerce #respond input#submit,
.comment-form input[type=submit], 
.post-password-form input[type=submit] {
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  padding: 12px 50px;
}
.woocommerce #respond input#submit:hover,
.comment-form input[type=submit]:hover, 
.single-post article input[type=submit]:hover {
  color: #fff;
  background-color: var(--primary-dark);
}
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
  background-color: var(--primary-color);
}
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover {
  background-color: var(--primary-dark);
}