/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-area .widget {
  margin-bottom: 35px;
}
.widget-title {
  padding-bottom: 15px;
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.widget ul,
.widget ol {
  padding: 0;
  list-style-type: none;
}
.widget li ul,
.widget li ol { 
  margin-top: 0; 
}
.widget li li { 
  margin-left: 25px; 
}
.widget-area .widget:first-child {
  margin-top: 0;
}
.widget-area img {
  max-width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.widget-area p {
  line-height: 30px;
  margin: 0;
}
.widget-area select {
  width: 100%;
  padding: 5px 2px;
}
.widget-area .wp-caption {
  margin-bottom: 10px;
}
/* list icons */
.widget_recent_entries li:before,
.widget_recent_comments li:before,
.widget_archive li:before,
.widget_categories li:before,
.widget_meta li:before,
.widget_pages li:before,
.widget_nav_menu li:before,
.widget_product_categories li:before {
  display: block;
  float: left;
  margin-left: -24px;
  font-family: 'Font Awesome 5 Free';
  color: #333;
  font-weight: 600;
} 
.widget_recent_entries li,
.widget_recent_comments li,
.widget_archive li,
.widget_categories li,
.widget_meta li,
.widget_pages li,
.widget_nav_menu li,
.widget_product_categories li { 
  margin: 0 0 5px 25px;
}
.widget_recent_entries ul li a:hover,
.widget_recent_comments ul li a:hover,
.widget_archive ul li a:hover,
.widget_categories ul li a:hover,
.widget_meta ul li a:hover,
.widget_pages ul li a:hover,
.widget_nav_menu ul li a:hover,
.widget_product_categories ul li a:hover {
  color: var(--primary-color);
}
.widget_recent_entries li:before { 
  content: "\f044"; 
}
.widget_recent_comments li:before { 
  content: "\f4ad"; 
}
.widget_archive li:before { 
  content: "\f073"; 
}
.widget_categories li:before { 
  content: "\f0a9"; 
}
.widget_meta li:before { 
  content: "\f2f5"; 
}
.widget_pages li:before {
  content: "\f15c";
}
.widget_nav_menu li:before {
  content: "\f02d";
}
.widget_product_categories li:before { 
  content: "\f0a9"; 
}
/* rss */
.widget_rss li {
  margin-bottom: 1em;
  line-height: 30px;
}
.widget_rss .rss-date,
.widget_rss cite {
  display: block;
  font-size: 85%;
}
/* calender */
.widget_calendar table caption {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #f7f7f7;
}
.widget_calendar table {
  width: 100%;
  text-align: center;
}
.widget_calendar table th {
  text-align: center;
}
.widget_calendar table td#prev {
  text-align: left;
}
.widget_calendar table td#next {
  text-align: right;
}
/* recent posts */
.xe-recent-posts .media-left {
  margin-right: 0px;
}
.xe-recent-posts .media-left img {
  width: 100%;
}
.xe-recent-posts .media-left a {
  width: 60px;
  margin-right: 0px;
  display: inline-block;
}
.xe-recent-posts span {
  color: #08ada7;
  letter-spacing: 0px;
  font-size: 12px;
  text-transform: none;
}
.xe-recent-posts li {
  padding: 20px 0;
  margin: 0px;
  padding-top: 0px;
}
.xe-recent-posts .media-heading {
  display: inline-block;
  width: 100%;
  color: #333;
  margin-top: 0px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: none;
}
/* categories and archives */
.xe-categories li a,
.xe-archives li a {
  padding-left: 15px;
  font-weight: 700;
}
.xe-categories li,
.xe-archives li {
  position: relative;
}
.xe-categories li,
.xe-archives li {
  line-height: 60px;
}
.xe-categories li a,
.xe-archives li a {
  font-size: 13px;
  color: #777;
  letter-spacing: 1px;
  display: inline-block;
  width: 100%;
  font-weight: 500;
}
.xe-categories li span {
  float: right;
  height: 25px;
  width: 25px;
  font-size: 10px;
  border-radius: 50%;
  line-height: 23px;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 0px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.xe-categories li:before,
.xe-archives li:before {
  display: none;
}
.xe-categories li,
.xe-archives li {
  line-height: 45px;
  padding-left: 0px;
}
.xe-categories li a:before,
.xe-archives li a:before {
  content: \"\\f0da\";
  position: absolute;
  left: 0px;
  font-size: 14px;
  color: var(--primary-color);
  font-family: 'FontAwesome';
}
.xe-categories li a:hover,
.xe-archives li a:hover {
  color: var(--primary-color);
}
.xe-categories li a:hover span {
  color: #fff;
  background: var(--primary-color);
}
/* tag cloud */
.widget_tag_cloud .tagcloud a, 
.widget_product_tag_cloud .tagcloud a {
  display: inline-block;
  float: left;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 50px;
  line-height: 26px;
  padding: 0 10px;
  text-transform: uppercase;
  color: #777;
  font-size: 10px !important;
  margin: 0 5px 10px 0;
}
.widget_tag_cloud .tagcloud:after, 
.widget_product_tag_cloud .tagcloud:after {
  content: "";
  display: table;
  clear: both;
}
.widget_tag_cloud .tagcloud a:hover,
.widget_product_tag_cloud .tagcloud a:hover {
  color: #fff;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}